/**** styles   ***/

/* main page *****/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/**** Navbar ******/

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

::placeholder {
  color: #fff;
}

.navbar .navitem {
  display: flex;
  flex-basis: 80%;
  justify-content: space-around;
  align-items: center;
}

.navbar .navitem form {
  position: relative;
  width: 30%;
}

.navbar .navitem .search {
  background-color: rgb(112, 112, 112, 100%);
  padding-left: 10px;
  border-radius: 10px;
  height: 29px;
  border: 0;
  width: 100%;
}

.navbar .navitem form button img {
  width: 12px;
}

.navbar .navitem form button {
  position: absolute;
  left: 85%;
  border-radius: 21px;
  background-color: rgb(112, 112, 112, 100%);
  border: 0;
  top: 7px;
}

.navbar .navitem a {
  text-decoration: none;
  color: rgb(55, 56, 54, 100%);
}

.first-view img {
  width: 100%;
  position: relative;
}

.first-view p {
  position: absolute;
  font-family: "Spartan", sans-serif;
  font-weight: bolder;
  top: 16%;
  left: 5%;
  font-size: 30px;
  line-height: 45px;
  color: #373836;
}

span {
  font-size: 20px;
  text-indent: 10px;
  font-weight: lighter;
}

@media screen and (max-width: 450px) {
  .navbar h4 {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 450px) {
  .navbar .navitem form button {
    left: 67%;
  }
}

@media screen and (max-width: 450px) {
  .first-view p,
  span {
    font-size: 15px;
    line-height: 30px;
  }
}

/***** Middle ***/

.middle {
  background-color: #373836;
}

.middle p {
  color: #fff;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  margin-top: 0;
  line-height: 40px;
  font-size: 25px;
}

.middle ul {
  display: flex;
}

.middle ul li {
  list-style: none;
  text-align: end;
  flex-basis: 45%;
  color: #fff;
  font-family: "Spartan", sans-serif;
}

.middle ul li .shopwomen {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  align-items: flex-end;
}

.middle ul li .shopmen {
  color: #fff;
  margin-right: 70%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 450px) {
  .middle ul li .shopmen {
    margin-right: 25%;
  }
}

/******* Categories ******/

.categories h2 {
  font-family: "Spartan", sans-serif;
  margin: 8%;
  font-weight: lighter;
  font-size: 40px;
}

.categories .cgrid {
  position: relative;
  text-align: center;
}

.categories .cgrid .column img {
  padding: 10px;
}

.categories .cgrid .Tshirts {
  position: absolute;
  top: 4%;
  left: 24.5%;
}

.categories .cgrid .Tshirts i {
  position: absolute;
  left: 75%;
  top: 0%;
}

.categories .cgrid .Shirts-cat {
  position: absolute;
  left: 52%;
  top: 4%;
}

.categories .cgrid .Shirts-cat i {
  position: absolute;
  left: 75%;
  top: 0%;
}

.categories .cgrid .Bottoms {
  position: absolute;
  left: 24.5%;
  top: 54%;
}

.categories .cgrid .Bottoms i {
  position: absolute;
  left: 75%;
  top: 0%;
}

.categories .cgrid p {
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.categories .cgrid .Hats-cat {
  position: absolute;
  left: 52%;
  top: 54%;
}

.categories .cgrid .Hats-cat i {
  position: absolute;
  left: 75%;
  top: 0%;
}

/******* Media Screen for Categories *****/

@media screen and (max-width: 450px) {
  .categories .cgrid {
    width: 100%;
    margin: 10px;
    text-align: start;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .column img {
    width: 45%;
    padding: 3px;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Tshirts {
    left: 3%;
    top: 3%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Tshirts i {
    left: 34%;
    top: 0%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Shirts-cat {
    width: 53%;
    left: 49%;
    top: 2%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Shirts-cat img {
    width: 75%;
    left: 50%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Shirts-cat i {
    top: 0%;
    left: 57%;
    width: 20%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Bottoms {
    left: 3%;
    top: 54%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Bottoms i {
    left: 33%;
    top: 4%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Hats-cat {
    width: 53%;
    left: 49%;
    top: 54%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Hats-cat img {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid .Hats-cat i {
    left: 57%;
    top: 3%;
    width: 20%;
  }
}

@media screen and (max-width: 450px) {
  .categories .cgrid p {
    font-size: 18px;
    left: 4%;
    bottom: 4%;
  }
}

/***** Offfers ******/

.offers {
  margin-top: 10%;
}

.offers h2 {
  margin-left: 11%;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

.offers .grid {
  text-align: center;
  margin-bottom: 15%;
  position: relative;
}

.offers .grid .row {
  display: flex;
  margin: 0 auto;
}

.offers .grid .column {
  margin: 0 auto;
  width: 100%;
}

.offers .grid .column img {
  padding: 15px;
}

.offers .grid .column .tshirt {
  position: absolute;
  left: 12%;
  top: 3%;
}

.offers .grid .column .tshirt span {
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 40px;
}

.offers .grid .column .tshirt p {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.offers .grid .column .tshirt button {
  background-color: #becdbc;
  color: #105262;
  height: 30px;
  border: 0;
  position: absolute;
  top: 650px;
  left: 70%;
  width: 40%;
}

.offers .grid .column .bottom {
  position: absolute;
  top: 2%;
  left: 54%;
}

.offers .grid .column .bottom span {
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 40px;
}

.offers .grid .column .bottom p {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.offers .grid .column .bottom button {
  background-color: #eca927;
  color: #0d0f0c;
  height: 30px;
  position: absolute;
  border: 0;
  left: 80%;
  top: 650px;
  width: 40%;
}

.offers .grid .row .column .hats {
  position: absolute;
  top: 53%;
  left: 12%;
}

.offers .grid .row .column .hats span {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

.offers .grid .row .column .hats p {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.offers .grid .row .column .hats button {
  background-color: #fafaf8;
  color: #040603;
  height: 30px;
  border: 0;
  position: absolute;
  top: 650px;
  left: 80%;
  width: 40%;
}

.offers .grid .row .column .shirts {
  position: absolute;
  top: 53%;
  left: 53%;
}

.offers .grid .row .column .shirts span {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

.offers .grid .row .column .shirts p {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.offers .grid .row .column .shirts button {
  background-color: #c4977f;
  color: #fff;
  height: 30px;
  border: 0;
  position: absolute;
  left: 80%;
  width: 40%;
  top: 650px;
}

/**** Media Screen for Offers *****/

@media screen and (max-width: 450px) {
  .offers .grid .column img {
    width: 270px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .tshirt {
    left: 20%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .tshirt span {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .tshirt p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .tshirt button {
    left: 50%;
    top: 290px;
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .bottom {
    top: 27%;
    left: 19%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .bottom span {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .bottom p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .shirts {
    top: 77%;
    left: 20%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .column .bottom button {
    top: 290px;
    left: 50%;
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .hats {
    left: 20%;
    top: 52%;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .hats span {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .hats p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .hats button {
    left: 50%;
    width: 60%;
    top: 290px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .shirts span {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .shirts p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .offers .grid .row .column .shirts button {
    left: 50%;
    top: 290px;
    width: 60%;
  }
}

/******* foooter *******/

.footer {
  background-color: rgb(41, 40, 40, 100%);
}

.footer .quicklinks {
  color: #fff;
  margin-left: 10%;
  border-spacing: 20px;
}

th,
td {
  font-family: "Avenir", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.footer p {
  color: #fff;
}

.footer .logo {
  margin-left: 90%;
}

@media screen and (max-width: 750px) {
  .footer .log {
    margin-left: 20%;
  }
}

@media screen and (max-width: 450px) {
  .footer .logo {
    margin-left: 72%;
  }
}

/****** sign up/sign in *******/
.sign {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.sign .Heading h2 {
  font-family: "Avenir", sans-serif;
  font-weight: lighter;
}
.sign .signupform ul {
  list-style: none;
  margin-left: -43px;
}

.sign .signupform ul label {
  font-family: "Avenir", sans-serif;
  font-size: 25px;
}

.sign .signupform ul input {
  width: 55%;
  height: 36px;
  background-color: #eaeaea;
  border: 0;
}

.sign .signupform ul button {
  background-color: #373836;
  height: 40px;
  color: #fff;
  width: 80px;
  border: 0;
}

.sign .signupform ul ::placeholder {
  color: #8c8c8c;
}

.sign .signupform ul a {
  text-decoration: none;
  color: #000000;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
}

/******* Media Screen for Sign Up Form ******/

@media screen and (max-width: 450px) {
  .sign .signupform ul label {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .sign .signupform ul input {
    width: 70%;
  }
}

/*********** Item Details **********/

.items {
  width: 70%;
  margin: 0 auto;
}

.items .heading-items h2 {
  font-family: "Avenir", sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.items .items-table table {
  border-spacing: 20px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.items .items-table table caption {
  text-align: start;
  font-family: "Avenir", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.items .items-table .total ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.items .items-table .total ul li {
  flex-basis: 135px;
  font-family: "Avenir", sans-serif;
  font-weight: bolder;
}

.item-details .sign .signupform ul button {
  width: 135px;
}

/********************* Thank you **********/

.thankyou p {
  text-align: center;
  margin: 15% auto;
  font-family: "Avenir", sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.thankyou span {
  font-weight: bolder;
  font-size: 30px;
}

@media screen and (max-width: 450px) {
  .thankyou p {
    font-size: 15px;
  }
}

/***************** Cart Page **********/
.my-cart {
  margin: 10% auto;
}

.cart-details {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.my-cart h2 {
  font-family: "Spartan", sans-serif;
  font-size: 40px;
  margin-left: 5%;
  font-weight: lighter;
}

.cart-details img {
  width: 200px;
}

.cart-details .adidas-hat {
  margin: auto 30px;
  width: 15%;
}

.cart-details .adidas-bottom {
  margin: auto 30px;
  width: 15%;
}

.cart-details .adidas-shirt {
  margin: auto 30px;
  width: 15%;
}

.cart-details .adidas-shoe {
  margin: auto 30px;
  width: 15%;
}

.cart-details .adidas-tshirt {
  margin: auto 30px;
  width: 15%;
}

.cart-details p {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.cart-details span {
  font-family: "Spartan", sans-serif;
}

.cart-details a {
  margin-left: 75px;
}

.my-cart .subtotal {
  text-align: end;
}

.my-cart .subtotal span {
  margin-left: 5%;
  margin-right: 6%;
}

.my-cart .subtotal h4 {
  margin-right: 16%;
}

.my-cart .subtotal button {
  margin-right: 6%;
  height: 45px;
  border: 0;
  color: #fff;
  background-color: #3c3e3c;
}

@media screen and (max-width: 450px) {
  .cart-details {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .cart-details img {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .cart-details .adidas-hat {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .cart-details .adidas-bottom {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .cart-details .adidas-shirt {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .cart-details .adidas-shoe {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .cart-details .adidas-tshirt {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .my-cart .subtotal h4 {
    margin-right: 25%;
  }
}

/********** T-shirts ******************************/

.gender-filter {
  display: flex;
  align-items: baseline;
}

.gender-filter select {
  width: 20%;
  height: 50px;
  margin-top: 6%;
  margin-left: 2%;
  background-color: #373836;
  color: white;
}

.gender-filter .text {
  margin-top: 6%;
  margin-left: 7%;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

.category-list .sidenav {
  display: flex;
}

.category-list .sidenav h2 {
  flex-basis: 15%;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
}

.category-list .flex-main {
  display: flex;
}

.sidenav-content {
  display: block;
  flex-basis: 35%;
  border-right: 1px solid black;
}

.flex-main .sidenav-content h2 {
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
}

.sidenav-content img {
  width: 20px;
}

.sidenav-content .shirts-nav {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.sidenav-content .bottoms-nav {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.sidenav-content .hats-nav {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.category-list .item-tshirts {
  margin-left: 20px;
}

.flex-main .item-tshirts {
  display: flex;
  flex-wrap: wrap;
}

.flex-main .item-tshirts img {
  padding: 10px;
}

.flex-main .item-tshirts .women-heading {
  display: flex;
  margin: 40px;
}

.item-tshirts .yezee-women {
  display: flex;
  flex-wrap: wrap;
}

.category-list .flex-main .item-tshirts button {
  width: 70px;
  height: 30px;
  background-color: #373836;
  color: #fff;
  margin-left: 60%;
}

.category-list .flex-main .item-tshirts p {
  line-height: 25px;
}

.page-numbers {
  margin: 30px;
  text-align: center;
}

.page-numbers .pages a {
  border: 1px solid black;
  margin: auto 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
}

.page-numbers .pages .page1 {
  background-color: #d5dbe6;
}

@media screen and (max-width: 450px) {
  .gender-filter .text {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .gender-filter select {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .category-list .flex-main .item-tshirts img {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .category-list .flex-main .item-tshirts button {
    margin-left: 50%;
  }
}
